/* add colors*/
/* add colors*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.prototype .btn.btn-disabled, .header__main-menu a, .highlight {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.prototype .btn.btn-disabled:active, .header__main-menu a:hover, .btn {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: #8D96BD;
  font-size: 15px;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-unstyled, .brand-line li, .btn {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.btn {
  padding: 13px 21px;
  border-radius: 2px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  transition: 0.3s;
}
.btn.btn-primary {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.btn.btn-primary:hover {
  background-color: #5E81FE;
  color: white;
  transition: 0.3s;
}
.btn.btn-primary:active {
  background-color: #242C50;
  color: white;
  transition: 0.3s;
}

.subtitle {
  font-size: 10px;
  color: #3D4F9F;
  text-transform: uppercase;
}

.p-style {
  line-height: 29px;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #3D4F9F;
}

h2 {
  font-size: 36px;
  color: #3D4F9F;
}

.header {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #D8E3FE;
}
.header__wrapper {
  padding: 32px 0;
}
.header .row {
  justify-content: space-between;
}
.header__col {
  width: 50%;
}
.header__menu {
  justify-content: space-between;
}
.header__logo a {
  background-color: #5E81FE;
  text-decoration: none;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.header__logo a:hover {
  background-color: #344FB5;
  transition: 0.3s;
}
.header__logo a:active {
  background-color: #242C50;
  transition: 0.3s;
}
.header__main-menu ul {
  gap: 43px;
}
.header__main-menu ul li {
  position: relative;
}
.header__main-menu ul li:hover ul {
  display: block;
}
.header__main-menu a {
  color: #697CA6;
  text-decoration: none;
}
.header__main-menu a:hover {
  color: #5E81FE;
  transition: 0.3s;
}
.header__main-menu a:active {
  color: #242C50;
  transition: 0.3s;
}
.header__social {
  justify-content: flex-end;
  gap: 45px;
}
.header__social ul {
  gap: 35px;
}
.header__social svg {
  fill: #B6BAC7;
}
.header__social svg:hover {
  fill: #6188FF;
}

@media (min-width: 767px) {
  .header label {
    display: none;
  }
}
@media (min-width: 480px) {
  .header .visible-xs {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__main-menu ul {
    gap: 13px;
  }
}
@media (max-width: 767px) {
  .header__wrapper {
    position: relative;
  }
  .header__menu {
    justify-content: initial;
  }
  .header__col {
    width: initial;
  }
}
@media (max-width: 480px) {
  .header header__main-menu ul li {
    display: none;
  }
  .header_cta {
    display: none;
  }
  .header .visible-xs {
    display: list-item;
  }
}

.banner {
  background-image: url("../../../assets/pictures/hero-image.jpg");
}
.banner .row {
  justify-content: center;
}
.banner__wrapper {
  padding-top: 100px;
}
.banner__description {
  margin-bottom: 250px;
}
.banner__subtitle {
  margin-bottom: 20px;
}
.banner__text {
  stroke: #DFE2EF;
  max-width: 502px;
  align-self: center;
  margin-top: 30px;
}
.banner__slider {
  margin-bottom: 30px;
}
.banner__slider input[type=radio] {
  display: none;
}
.banner__slider-navigation:last-child {
  margin-right: 0;
}
.banner__slider label {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: #CDD3E4;
}
.banner__slider label:hover {
  background-color: #5282FF;
}

@media (max-width: 1024px) {
  .banner__wrapper {
    padding-top: 50px;
  }
  .banner__description {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .banner__description {
    margin-bottom: 70px;
  }
}

.brand-line .row {
  justify-content: center;
}
.brand-line__wrapper {
  padding: 60px 0;
}
.brand-line ul {
  padding: 0;
}
.brand-line li {
  margin-right: 75px;
}
.brand-line li:last-child {
  margin-right: 0;
}
.brand-line svg {
  fill: #B6BAC7;
  max-width: 120px;
  height: 100%;
}
.brand-line svg:hover {
  fill: #5982E7;
}

@media (max-width: 480px) {
  .brand-line .row {
    justify-content: space-between;
  }
  .brand-line svg {
    max-width: 400px;
    height: 100%;
  }
}

.prototype {
  background-color: #F5F8FF;
}
.prototype__wrapper {
  padding-top: 170px;
}
.prototype__description {
  margin-top: 40px;
  margin-bottom: 47px;
}
.prototype__subtitle {
  margin-bottom: 26px;
}
.prototype__text {
  max-width: 380px;
  margin-top: 27px;
}
.prototype .btn {
  text-shadow: none;
  font-size: 14px;
}
.prototype .btn.btn-primary {
  background-color: #4C85FF;
  color: white;
}
.prototype .btn.btn-primary:hover {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.prototype .btn.btn-primary:active {
  background-color: #F5F8FF;
  color: white;
}
.prototype .btn.btn-disabled {
  background-color: #F5F8FF;
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
}
.prototype .btn.btn-disabled:active {
  background-color: #4C85FF;
  color: white;
}
.prototype__item {
  width: 50%;
}
.prototype__picture {
  max-width: 100%;
  box-shadow: 0px 100px 150px #F2F6FF;
}

@media (max-width: 767px) {
  .prototype__item {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
