/* add colors*/
/* add colors*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.stats h2, h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

.stats, .prototype .btn.btn-disabled, .header__main-menu a, h3, .highlight {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.prototype .btn.btn-disabled:active, .header__main-menu a:hover, .btn {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.stats__icon, .banner {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

body {
  color: #8D96BD;
  font-size: 15px;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-unstyled, .brand-line li, .btn {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-center {
  align-self: center;
}

.text-align-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.btn {
  padding: 13px 21px;
  border-radius: 2px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  transition: 0.3s;
}
.btn.btn-primary {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.btn.btn-primary:hover {
  background-color: #5E81FE;
  color: white;
  transition: 0.3s;
}
.btn.btn-primary:active {
  background-color: #242C50;
  color: white;
  transition: 0.3s;
}

.subtitle {
  font-size: 10px;
  color: #3D4F9F;
  text-transform: uppercase;
}

.p-style {
  line-height: 29px;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #3D4F9F;
}

h2 {
  font-size: 36px;
  color: #3D4F9F;
}

h3 {
  font-size: 24px;
  color: #3D4F9F;
}

.header {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #D8E3FE;
}
.header__wrapper {
  padding: 32px 0;
}
.header .row {
  justify-content: space-between;
}
.header__col {
  width: 50%;
}
.header__menu {
  justify-content: space-between;
}
.header__logo a {
  background-color: #5E81FE;
  text-decoration: none;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.header__logo a:hover {
  background-color: #344FB5;
  transition: 0.3s;
}
.header__logo a:active {
  background-color: #242C50;
  transition: 0.3s;
}
.header__navbar #toggler, .header__navbar label {
  display: none;
}
.header__main-menu ul {
  gap: 43px;
}
.header__main-menu ul li {
  position: relative;
}
.header__main-menu ul li:hover ul {
  display: block;
}
.header__main-menu a {
  color: #697CA6;
  text-decoration: none;
}
.header__main-menu a:hover {
  color: #5E81FE;
  transition: 0.3s;
}
.header__main-menu a:active {
  color: #242C50;
  transition: 0.3s;
}
.header__social {
  justify-content: flex-end;
  gap: 45px;
}
.header__social ul {
  gap: 35px;
}
.header__social svg {
  fill: #B6BAC7;
}
.header__social svg:hover {
  fill: #6188FF;
}

@media (min-width: 767px) {
  .header label {
    display: none;
  }
}
@media (min-width: 480px) {
  .header .visible-xs {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__main-menu ul {
    gap: 13px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    flex-direction: row-reverse;
  }
  .header__navbar {
    width: 70px;
  }
  .header__wrapper {
    position: relative;
  }
  .header__menu {
    justify-content: initial;
  }
  .header__col {
    width: initial;
  }
}
@media (max-width: 576px) {
  .header__navbar label {
    display: inline-block;
    align-items: center;
    cursor: pointer;
  }
  .header__navbar .menu-btn {
    margin-left: 30px;
  }
  .header__navbar .menu-btn,
.header__navbar .menu-btn::before,
.header__navbar .menu-btn::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #5E81FE;
  }
  .header__navbar .menu-btn::before,
.header__navbar .menu-btn::after {
    content: "";
  }
  .header__navbar .menu-btn::before {
    transform: translateY(-5px);
  }
  .header__navbar .menu-btn::after {
    transform: translateY(5px);
  }
  .header__navbar #toggler:checked ~ .header__main-menu {
    max-height: 100%;
  }
  .header__navbar #toggler:checked ~ .header__main-menu ul {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: #D2E1FF;
  }
  .header__navbar #toggler:checked ~ .header__main-menu li {
    text-align: center;
    padding: 10px 0;
  }
  .header__navbar #toggler:checked ~ .header__main-menu a {
    color: #5E81FE;
    font-size: 18px;
  }
  .header__main-menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .header__main-menu .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
@media (max-width: 576px) and (max-width: 480px) {
  .header_cta {
    display: none;
  }
  .header .visible-xs {
    display: list-item;
  }
}

.banner {
  background-image: url("../../../assets/pictures/hero-image.jpg");
}
.banner .row {
  justify-content: center;
}
.banner__wrapper {
  padding-top: 100px;
}
.banner__description {
  margin-bottom: 250px;
}
.banner__subtitle {
  margin-bottom: 20px;
}
.banner__text {
  stroke: #DFE2EF;
  max-width: 502px;
  align-self: center;
  margin-top: 30px;
}
.banner__slider {
  margin-bottom: 30px;
}
.banner__slider input[type=radio] {
  display: none;
}
.banner__slider-navigation:last-child {
  margin-right: 0;
}
.banner__slider label {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: #CDD3E4;
}
.banner__slider label:hover {
  background-color: #5282FF;
}

@media (max-width: 1024px) {
  .banner__wrapper {
    padding-top: 50px;
  }
  .banner__description {
    margin-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .banner__description {
    margin-bottom: 70px;
  }
}

.brand-line .row {
  justify-content: center;
}
.brand-line__wrapper {
  padding: 60px 0;
}
.brand-line ul {
  padding: 0;
}
.brand-line li {
  margin-right: 75px;
}
.brand-line li:last-child {
  margin-right: 0;
}
.brand-line svg {
  fill: #B6BAC7;
  max-width: 120px;
  height: 100%;
}
.brand-line svg:hover {
  fill: #5982E7;
}

@media (max-width: 480px) {
  .brand-line .row {
    justify-content: space-between;
  }
  .brand-line svg {
    max-width: 400px;
    height: 100%;
  }
}

.prototype {
  background-color: #F5F8FF;
}
.prototype .row {
  justify-content: flex-start;
}
.prototype__wrapper {
  padding-top: 170px;
  padding-bottom: 170px;
}
.prototype__description {
  margin-top: 40px;
  margin-bottom: 47px;
}
.prototype__subtitle {
  margin-bottom: 26px;
}
.prototype__text {
  max-width: 380px;
  margin-top: 27px;
}
.prototype .btn {
  text-shadow: none;
  font-size: 14px;
}
.prototype .btn.btn-primary {
  background-color: #4C85FF;
  color: white;
}
.prototype .btn.btn-primary:hover {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.prototype .btn.btn-primary:active {
  background-color: #F5F8FF;
  color: white;
}
.prototype .btn.btn-disabled {
  background-color: #F5F8FF;
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
}
.prototype .btn.btn-disabled:active {
  background-color: #4C85FF;
  color: white;
}
.prototype__item {
  width: 50%;
}
.prototype__picture {
  max-width: 800px;
  margin-right: -400px;
  box-shadow: 0 100px 150px #F2F6FF;
}

@media (max-width: 767px) {
  .prototype__picture {
    width: 100%;
    margin-right: 0;
  }
  .prototype__wrapper {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .prototype__content {
    flex-wrap: wrap;
  }
  .prototype__item {
    width: 100%;
    margin-top: 20px;
  }
  .prototype__text {
    max-width: 100%;
  }
}

.app {
  background-image: url("../../../assets/pictures/features.svg");
}
.app__wrapper {
  padding-top: 170px;
  padding-bottom: 170px;
}
.app .row {
  justify-content: center;
}
.app h3 {
  margin-top: 20px;
}
.app__item {
  width: 25%;
}
.app__item img {
  max-width: 69px;
}
.app__item h4 {
  margin-top: 33px;
  margin-bottom: 25px;
}
.app__sections {
  margin-top: 90px;
}
.app__sections p {
  max-width: 160px;
}
.app__sections .line {
  margin-right: 20px;
  margin-left: 20px;
}
.app__button {
  margin-top: 92px;
}
.app__button .line {
  margin-right: 17px;
  margin-left: 16px;
}
.app__button .btn-accent {
  background-color: #FFD7D7;
  color: #D43F3F;
}
.app__button .btn-accent:hover {
  background-color: #D43F3F;
  color: white;
}
.app__button .btn-primary {
  text-shadow: none;
}

@media (max-width: 480px) {
  .app__wrapper {
    padding-top: 60px;
  }
  .app__sections {
    flex-direction: column;
  }
  .app__sections .line {
    display: none;
  }
  .app__item {
    width: 100%;
    margin-top: 20px;
  }
  .app__item p {
    max-width: 100%;
  }
}

.stats {
  font-size: 18px;
  overflow-x: hidden;
  color: white;
}
.stats__col {
  width: 50%;
  padding: 66px 0;
  position: relative;
}
.stats__col-wrapper {
  max-width: 260px;
  z-index: 10;
}
.stats__col:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
}
.stats__productivity {
  padding-right: 90px;
}
.stats__productivity p {
  text-align: right;
}
.stats__productivity h2 {
  color: white;
}
.stats__productivity:before {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  right: 0;
  z-index: 1;
}
.stats__application {
  padding-left: 90px;
  color: #5E80FF;
}
.stats__application h2 {
  color: #5E80FF;
}
.stats__application:before {
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  left: 0;
  z-index: -1;
}
.stats__icon {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
}
.stats h2 {
  margin-bottom: 25px;
  font-size: 48px;
}
.stats__productivity-icon {
  background-image: url("../../../assets/icons/productivity.svg");
}
.stats__application-icon {
  background-image: url("../../../assets/icons/users.svg");
}

@media (max-width: 480px) {
  .stats .row {
    flex-direction: column;
  }
  .stats__col {
    width: 100%;
    justify-content: center;
  }
  .stats__col-wrapper {
    align-items: center;
    justify-content: center;
  }
  .stats p {
    text-align: center;
  }
  .stats__productivity {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    padding-right: 0;
  }
  .stats__productivity:before {
    display: none;
  }
  .stats__application {
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    padding-left: 0;
  }
  .stats__application:before {
    display: none;
  }
}

.blog {
  background-color: #F5F8FF;
}
.blog__wrapper {
  padding-top: 104px;
  padding-bottom: 104px;
}
.blog h2 {
  margin-top: 20px;
}
.blog .arrow-l {
  margin-right: 75px;
}
.blog .arrow-r {
  margin-left: 75px;
}
.blog__content {
  background-color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 41px;
  margin-top: 62px;
  margin-bottom: 100px;
}
.blog__content-item {
  width: 50%;
}
.blog__pictures-item1 {
  width: 70%;
  margin-left: 35px;
  margin-right: 12px;
}
.blog__pictures-item2 {
  width: 33%;
}
.blog__pictures-item2 img {
  margin-bottom: 13px;
}
.blog__description {
  margin-left: 67px;
}
.blog__description p {
  max-width: 415px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.blog .btn {
  text-shadow: none;
}
.blog__slider {
  margin-bottom: 30px;
}
.blog__slider input[type=radio] {
  display: none;
}
.blog__slider-navigation:last-child {
  margin-right: 0;
}
.blog__slider label {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: #CDD3E4;
}
.blog__slider label:hover {
  background-color: #5282FF;
}

@media (max-width: 767px) {
  .blog__content {
    flex-direction: column;
  }
  .blog__content-item {
    width: 100%;
  }
  .blog__description {
    margin-left: 20px;
  }
  .blog .btn {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .blog .arrow-l, .blog .arrow-r {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
