.stats{

  @include mobile(){
    .row{
      flex-direction: column;
    }

    &__col{
      width: 100%;
      justify-content: center;
    }

    &__col-wrapper{
      align-items: center;
      justify-content: center;
    }

    p{
      text-align: center;
    }

    &__productivity{
      background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
      padding-right: 0;
      &:before{
        display: none;
      }
    }

    &__application{
      background:linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
      padding-left: 0;
      &:before{
        display: none;
      }
    }
  }
}