.footer {
  width: 100%;
  background-color: white;

  &__wrapper {
    padding: 57px 0 93px 0;
  }

  &__col {
    width: 50%;

    p{
      margin-top: 28px;
    }
  }

  &__logo {
    a {
      @include a-style('bg', $accent-color, $hover-color, $active-color);
      display: inline-block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
    }
  }

  &__main-menu {
    margin-top: 50px;

    ul {
      gap: 43px;

      li {
        position: relative;

        &:hover {
          ul {
            display: block;
          }
        }
      }
    }


    a {
      @include a-style('color', $text-color, $accent-color, $active-color);
      @extend %font-quicksand-medium;
      text-decoration: none;
      &:hover{
        @extend %font-quicksand-bold;
      }
    }

  }

  &__social {
    gap: 45px;

    ul {
      gap: 35px
    }

    @include svg_style($svg-color, #6188FF);

  }
}