.blog{
  
  @media (max-width: $breakpoint_md) {
    &__content{
      flex-direction: column;

      &-item{
        width: 100%;
      }
    }

    &__description{
      margin-left: 20px;
    }

    .btn{
      margin-top: 10px;
    }
  }

  @media (max-width: $breakpoint_xs) {
    .arrow-l, .arrow-r{
      display: none;
    }
  }
}