.banner{
  @extend %background-image-bg;
  background-image: url('../../../assets/pictures/hero-image.jpg');

  .row{
    justify-content: center;
  }

  .highlight{
    @extend %font-quicksand-medium;
  }

  &__wrapper{
    padding-top: 100px;
  }

  &__description{
    margin-bottom: 250px;
  }

  &__subtitle{
    margin-bottom: 20px;
  }

  &__text{
    stroke: $text-color-stroke;
    max-width: 502px;
    align-self: center;
    margin-top: 30px;
  }

  &__slider {
    margin-bottom: 30px;

    input[type="radio"] {
      display: none;
    }

    &-navigation:last-child{
      margin-right: 0;
    }

    label {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      margin-right: 0.5em;
      background-color: $slider-color;
    }

    label:hover{
      background-color: $slider-color-cheked;
    }
  }
}