.quotes {

  @include laptop(){
    &__description {
      margin-left: 10px;
    }
  }

  @include tablet(){

    .row {
      flex-direction: column;
    }

    &__item {
      width: 100%;
    }

    &__customer-quotes {
      margin-top: 50px;
    }

    &__content {
      @include margin-auto();
    }

    &__photo {
      left: 45%;
    }

    .carousel {
      &-indicators {
        margin-left: 15%;
      }
    }
  }
}