.prototype{
  background-color: $background-color;

  &__wrapper{
    padding: 170px 0;
  }

  &__description{
    margin: 40px 0 47px 0;
  }

  &__subtitle{
    margin-bottom: 26px;
  }

  &__text{
    max-width: 380px;
    width: 100%;
    margin-top: 27px;
  }

  .btn{
    text-shadow: none;
    font-size: $font-size_sm;

    &-play{
      img{
        margin: 5px 0 0 6px;
      }
    }

    &.btn-primary {
      @include btn-action-background($background-color-btn,$sub_menu_bg, $background-color);
      @include btn-action-text(white,$btn-text-color,#D1D1E4);

      &:active {
        border: 1px solid #D1D1E4;
      }
    }

    &.btn-disabled{
      @extend %font-quicksand-medium;
      @include btn-action-background($background-color,$sub_menu_bg, $btn-text-color);
      @include btn-action-text(#ADB4D2,$btn-text-color,white);
      border: 1px solid $border-color-btn;

      &:active {
        @extend %font-quicksand-bold;
      }
    }
  }

  &__item{
    width: 50%;
  }

  &__picture{
    max-width: 800px;
    margin-right: -400px;
    box-shadow: 0 100px 150px #F2F6FF;
  }
}